

<main>
	<h1>welcom to<span class="glyphicon glyphicon-book">Bookers !!</h1>
	<h6> In <span class="glyphicon glyphicon-book">Bookers,</h6>
	<h6>you can share and exchange your opinions , inpressions , and emotions<br>
	about various books!</h6>
    
    <%= link_to 'Log in', user_session_path, class:"btn btn-info btn-block" %>
    <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-success btn-block" %>

    <p>CopyRight Infratop.inc</p>
</main>


