<div class="user">
	<h6>name</h6>
	<p><%= user.name %></p>
    <h6>introduction</h6>
    <p><%= user.introduction %></p>

<%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", class: "image" %>

</div>

<div class="botan">
	<%# if user == current_user %>
    <%=link_to '', edit_user_path(id: user.id), class:"col-xs-2 glyphicon glyphicon-wrench btn btn-default" %>
    <%# end %>
</div>

