
<div class="row">
<div class="col-lg-6">

<h1>Edit Book</h1>

<%= render 'books/newbook', book: @book %>
<%= link_to "show", @book, class: "book_#{@book.id}" %>
<%= link_to "Back", books_path, class: "back" %>
</div>
</div>

