
<%= render 'users/information', user: @user %>
<%= render 'books/newbook', book: @book %>
<h1>Books</h1>
<table>
	<thead>
		<tr>
<th colspan="1"></th>
<th>Title</th>
<th>Opinion</th>
</tr>
</thead>
<tbody>
	<% @books.each do |book| %>
	<% end %>
</tbody>
</table>


